extends layout

block head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/dataMap.css')
    script(src="/js/dataMap.js")


block content

    .container-fluid.row
        .col-sm-11
            input.form-control(type="text" placeholder="Search")#searchBox
        button.btn.btn-default.col-sm-1#searchButton
            i.fa.fa-search

    .container-fluid#canvas(style="margin-top: 50px")



