extends layout

block head
    script(src="/js/index.js")
    img.center-block(src="/images/logo_04_color01_finish01.png")
block content
    div.centered.container-fluid
        h1.inline#logo degDB
        &nbsp;  
        a.ghLink(href="//github.com/degdb")
            i.fa.fa-github.fa-2x
        div#main
            p distributed economic graph database
            button.btn.setActive.selectMode.btn-success.btn-padding-right#dataMain data
            button.btn.setActive.selectMode.btn-warning.btn-padding-right#nodeMain node
            button.btn.setActive.btn-danger#manageBtn manage
            div.searchBoxPadTop.noDisplay#searchBox
                div.col-md-4.col-md-offset-4
                    form(action="/search", method="GET")
                        input.form-control(type="text", id="search_query", name="search_query", placeholder="search query")
                        div.searchBoxPadTop
                            input.btn.btn-info.btn-sub(value="search", id="perform_search", type="button")

            div.searchBoxPadTop.noDisplay#manageLogin
                div.col-md-4.col-md-offset-4
                    form(action="/authenticate", method="POST")
                        input.form-control(type="text", name="linode_key", placeholder="Linode API key")
                        div.searchBoxPadTop
                            input.btn.btn-info.btn-sub(value="authenticate", type="submit")
