extends layout

block head
    script(src="/js/index.js")
    img.center-block(src="/images/logo.png")
block content
    div.centered.container-fluid
        h1.inline#logo degDB
        &nbsp;&nbsp;
        a.ghLink(href="//github.com/degdb")
            i.fa.fa-github.fa-2x
        div#main
            p distributed economic graph database
            button.btn.btn-success.btn-padding-right(data-toggle="tooltip", data-placement="botom", title="search and display data from query")#dataMain data
            button.btn.btn-danger(data-toggle="tooltip", data-placement="botom", title="add new data and new servers via linode key")#manageBtn manage

            div.searchBoxPadTop.noDisplay#searchBox
                div.col-md-4.col-md-offset-4
                    form(action="/search", method="GET")
                        input.form-control(type="text", id="search_query", name="search_query", placeholder="search query")
                        div.searchBoxPadTop
                            input.btn.btn-info.btn-sub(value="search", type="submit")

            div.searchBoxPadTop.noDisplay#manageLogin
                div.col-md-4.col-md-offset-4
                    form(action="/authenticate", method="POST")
                        input.form-control(type="text", name="linode_key", placeholder="Linode API key")
                        div.searchBoxPadTop
                            input.btn.btn-info.btn-sub(value="authenticate", type="submit")
