extends layout
// this stuff goes in the head

block head
    script(src="/lib/index.js")

block content
    div.centered.container-fluid
        h1#logo degDB
        div#main
            p distributed economic graph database
            button.btn.setActive.selectMode.btn-success.btn-padding-right#dataMain data
            button.btn.setActive.selectMode.btn-warning.btn-padding-right#nodeMain node
            button.btn.setActive.btn-danger#manageBtn manage
            div.searchBoxPadTop.noDisplay#searchBox
                div.col-md-4.col-md-offset-4
                    input.form-control(type="text", placeholder="search query")
            div.searchBoxPadTop.noDisplay#manageLogin
                div.col-md-4.col-md-offset-4
                    input.form-control(type="text", name="apikey", placeholder="Linode API key")
