doctype html
html
  head
    // jquery
    script(type='text/javascript', src='/lib/jquery-2.1.4.min.js')
    // bootstrap
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet" integrity="sha256-IF1P9CSIVOaY4nBb5jATvBGnxMn/4dB9JNTLqdxKN9w= sha512-UsfHxnPESse3RgYeaoQ7X2yXYSY5f6sB6UT48+F2GhNLqjbPhtwV2WCUQ3eQxeghkbl9PioaTOHNA+T0wNki2w==" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js')
    title degDB
    block head
  body
    block content
    //- link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous")
