doctype html
html
  head
    // jquery
    script(type='text/javascript', src='/lib/jquery-2.1.4.min.js')

    // bootstrap
    link(rel='stylesheet', href='/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css')
    script(type='text/javascript', src='/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/lib/bootstrap.cosmo.min.css')

    // font awesome
    link(href="/lib/font-awesome-4.4.0/css/font-awesome.min.css", rel="stylesheet")

    // custom
    link(rel='stylesheet', href='/stylesheets/style.css')

    title degDB
    block head
  body
    block content
