extends layout
block content
  div.centered.padBottom
    h1.centered
        a.noUnderline(href="/") degDB
    b.text-muted network status

  div#nodes
    if linode_key !== false
        div.circleContainer.greenContainer.addNode +

  script(src="/js/manager.js")
