extends layout
block content
  div.centered.padBottom
    h1.centered
        a.noUnderline(href="/") degDB
    b.text-muted network status
    div
        div.pull-right
            p.text-muted Powered by Linode
            a(href="//linode.com", target="_blank")
                img.linodeLogo(src="/images/linode.png")

  div#nodes
    if linode_key !== false
        div.circleContainer.greenContainer.addNode +
        

  script(src="/js/manager.js")
