extends layout

// this stuff goes in the head
block head

// this stuff goes in the body
block content
  h1.centered degDB
  div.col-md-6
    h4 Operations
    a.btn.btn-warning#provisionNew provision new server
  div.col-md-6
    h4 Map
    p Map goes here
