extends layout

block content
    div.centered
        h1
            a(href="/", class="noUnderline") degDB
        h3
            | Sorry, but something went wrong. Try again later:
        h4
            | #{error}
