body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.searchBoxPadTop {
    padding-top: 20px;
}
.centered {
    text-align: center;
}
.noDisplay {
    display: none;
}
.btn-padding-right {
    margin-right: 20px;
}
