body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.searchBoxPadTop {
    padding-top: 20px;
}
.centered {
    text-align: center;
}
.noDisplay {
    display: none;
}
.btn-padding-right {
    margin-right: 20px;
}
.btn-sub {
    width: 90%;
}
.noUnderline:hover {
    text-decoration: none;
}
.ghLink {
    color: black;
}
.inline {
    display: inline;
}
.padBottom {
    padding-bottom: 40px;
}
.greenContainer {
    background: green !important;
}
.circleContainer {
    margin-left: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    font-size: 20px;
    color: #fff;
    padding-top: 50px;
    line-height: 100px;
    text-align: center;
    background: #3c6eb4;
    display: inline-block;
}
